@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&family=Teko:wght@300..700&display=swap");

/* CONFIGURAÇÃO GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
  text-align: center;
  display: inline-flex;
  gap: 60px;
  font-family: "Teko";
}
a {
  text-decoration: none;
  color: inherit; /* mantém a cor original */
}

/* HEADER */
.cabecalho {
  height: 100px;
  text-align: center;
  background-color: #2bbff9;
}

.ciano-claro {
  color: #00ffff;
}

.nav-item {
  transition: 1s all;
  font-weight: 800;
  color: white;
  text-transform: uppercase;
  margin-top: 30px;
  padding: 5px 15px;
  font-size: 30px;
}
.nav-item:hover {
  color: #0e8cbd;
  transition: 0.2s all;
}

.botao-1 {
  background-color: #00d9ff;
  padding: 5px 15px;
  border-radius: 10px;
  font-size: 20px;
  margin-left: 30px;
}

.botao-1:hover {
  background-color: #0984b4;
  cursor: pointer;
}

.cor-fonte:hover {
  color: white;
}

/* BODY */
/*  Inicio */
.inicio-do-site {
  height: 100%;
}

#logo {
  width: 200px;
  height: 250px;
  position: relative;
  top: 60px;
  left: 275px;
}
.texto-chamativo {
  font-family: "Roboto";
  color: black;
  font-style: oblique;
  text-align: center;
  position: relative;
  font-size: 30px;
  margin-left: 50%;
  margin-top: 20px;
  top: -400px;
  bottom: 250px;
  right: 50px;
}
.grande {
  font-size: 45px;
}
.ciano {
  color: #00ffff;
}
.btn-social{
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  width: 80%;
  margin-top: -200px;
  margin-right: 500px;
}
.btn-social ul li{
  position: relative;
  background: #226585;
  margin: 5px;
  padding: 5px;
  z-index: 1;
  overflow: hidden;
  border-radius: 3px;
  font-size: 1.5rem;
  text-align: center;
}
.btn-social ul li a{
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: block;
  text-decoration: none;
  color: #ffffff;
  transition: 4s;
}
.btn-social ul li::before{
  transition: 0.4s;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 90%;
  left: 0;
  background: #00ffff;
  z-index: -1;
  transform: scale(1);
  transition: 4s;
}
.btn-social ul li:hover::before{
  transition: 0.4s;
  top: 0%;
}
.btn-social ul li a:hover{
  color: #555555;
}
.icone-whatsapp{
  height: 45px;
}
.icone-instagram{
  height: 45px;
}
.icone-gmail{
  height: 45px;
}

/* Sobre Mim */
.sobremim-ciano2 {
  background-color: #c4ffff;
  height: 1100px;
}

.cintia-almeida {
  width: 35rem;
  height: 55rem;
  border-radius: 30px;
  margin: 50px 270px;
  position: relative;
  top: 25px;
  right: 30px;
}

.caixa-perguntas-respostas {
  position: relative;
  right: 50px;
}
.perguntas {
  color: #00cbcc;
  display: flex;
  font-family: "Sansita";
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 60%;
}

.respostas {
  font-family: "Roboto";
  margin-left: 60%;
  margin-bottom: 45px;
  font-weight: 300;
  font-size: 18px;
}

/* depoimentos */
#texto-motivacional{
  font-family: "Sansita";
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
  color: #00cbcc;
}
.depoimentos-card-principal {
  display: flex;
  flex-direction: row;
  margin: 60px 100px;
  max-width: 100%;
  height: 350px;
  gap: 2rem;
}

.depoimentos-card-container {
  padding: 80px;
  background-color: #8bffff;
  border-radius: 30px;
}

/* contatos/agendamentos */
/* consultorio */
/* faq */

/* FOOTER */
