@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&family=Teko:wght@300..700&display=swap");

/* CONFIGURAÇÃO GLOBAL */
* {
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  text-align: center;
  display: inline-flex;
  gap: 60px;
  font-family: "Teko";
}

a {
  text-decoration: none;
  color: inherit; /* mantém a cor original */
}

/* HEADER */
.cabecalho {
  height: 100px;
  text-align: center;
  background-color: #2bbff9;
}

.logo-nav {
  cursor: pointer;
  margin-right: 150px;
}

.ciano-claro {
  color: #00ffff;
}

.nav-item {
  transition: 2s all;
  font-weight: 800;
  color: white;
  text-transform: uppercase;
  margin-top: 30px;
  font-size: 30px;
}
.nav-item:hover {
  color: #0e8cbd;
  transition: 0.3s all;
}

.botao-1 {
  background-color: #00cbcc;
  border-radius: 50px;
  font-size: 20px;
  padding: 15px;
  margin-left: 30px;
  margin-top: 25px;
}

.botao-1:hover {
  background-color: #0baeee;
  cursor: pointer;
}

.cor-fonte:hover {
  color: white;
}

/* BODY */
/*  Inicio */
.inicio-do-site {
  background-color: #8bffff;
}

#logo {
  margin: 4%;
  margin-left: 8%;
  width: 200px;
  height: 250px;
  position: relative;
  top: 80px;
  left: 275px;
}
.texto-chamativo {
  color: white;
  font-family: "Sansita";
  padding: 20px;
  margin-left: 60%;
  font-style: oblique;
  font-size: 40px;
  text-align: center;
  position: relative;
  bottom: 250px;
  right: 50px;
}

/* Sobre Mim */
.sobremim-ciano2 {
  background-color: #c4ffff;
  height: 1100px;
}

.cintia-almeida {
  width: 35rem;
  height: 55rem;
  border-radius: 30px;
  margin: 50px 270px;
  position: relative;
  top: 25px;
  right: 30px;
}

.caixa-perguntas-respostas {
  position: relative;
  bottom: 920px;
  right: 50px;
}
.perguntas {
  color: #00cbcc;
  display: flex;
  font-family: "Sansita";
  text-transform: uppercase;
  font-weight: 100;
  margin-left: 60%;
}

.respostas {
  font-family: "Roboto";
  margin-left: 60%;
  margin-bottom: 60px;
  font-size: 18px;
}

/* depoimentos */

.depoimentos-card-principal {
  display: flex;
  flex-direction: row;
  margin: 60px 100px;
  max-width: 100%;
  height: 350px;
  gap: 2rem;
}

.depoimentos-card-container {
  padding: 80px;
  background-color: #8bffff;
  border-radius: 30px;
}

/* contatos/agendamentos */
/* consultorio */
/* faq */

/* FOOTER */
